*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
 
body,
html{
    font-family: Arial, sans-serif;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; 
}

body ::-webkit-scrollbar{
    display: none;
}

header{
    background-color: #e2280f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section{
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#grafico-desempenho{
    width: 100%;
    border-collapse: collapse;
}

#tabela-dados th, #tabela-dados td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#mapa-localizacao{
    width: 100%;
    height: 400px;
}
